In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('output_table_combined_score_ranking.csv')

In [3]:
df.sort_values(by='combined_score', ascending=False).head(10)

,ISO_code_alpha3,Country,New business density rate mean,Economic freedom index mean,new_business_density_mean_scaled,economic_freedom_index_mean_scaled,combined_score
36,HKG,Hong Kong,25.074000,89.622000,1.000000,1.000000,1.000000
75,NZL,New Zealand,17.962667,82.354667,0.716228,0.864522,0.790375
19,CYP,Cyprus,20.797333,69.916000,0.829343,0.632639,0.730991
27,EST,Estonia,16.653333,76.511333,0.663980,0.755590,0.709785
4,AUS,Australia,12.667333,81.718000,0.504922,0.852653,0.678787
59,LUX,Luxembourg,14.114000,74.909000,0.562650,0.725719,0.644184
88,SGP,Singapore,7.912667,88.072667,0.315190,0.971117,0.643154
31,GBR,United Kingdom,12.865333,77.220667,0.512823,0.768813,0.640818
42,ISL,Iceland,10.920000,74.114667,0.435196,0.710911,0.573053
14,BWA,Botswana,12.375333,69.736000,0.493269,0.629283,0.561276

In [5]:
main = pd.read_csv('../Main/main.csv')

In [6]:
count = main.groupby('Year')['ISO_code_alpha3'].nunique()
count

Year
2006    109
2007    111
2008    118
2009    125
2010    125
2011    129
2012    131
2013    137
2014    141
2015    144
2016    149
2017    145
2018    147
2019    120
2020    120
Name: ISO_code_alpha3, dtype: int64

New Zealand.

In [7]:
main[main['ISO_code_alpha3']=='NZL']

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
1200,NZL-2006,NZL,New Zealand,2781336,2006,67842,24.39,82.00,90.0,NaN,...,70.0,90.0,NaN,NaN,92.77,79.73,33.0,33.0,NaN,34.8
1201,NZL-2007,NZL,New Zealand,2809736,2007,70351,25.04,81.40,90.0,NaN,...,70.0,80.0,NaN,NaN,92.20,78.00,33.0,33.0,NaN,35.1
1202,NZL-2008,NZL,New Zealand,2834758,2008,53401,18.84,80.74,90.0,NaN,...,70.0,80.0,NaN,NaN,91.39,76.93,30.0,30.0,NaN,35.4
1203,NZL-2009,NZL,New Zealand,2862340,2009,48316,16.88,81.98,95.0,NaN,...,80.0,80.0,NaN,NaN,91.38,81.53,30.0,30.0,NaN,35.7
1204,NZL-2010,NZL,New Zealand,2891030,2010,45168,15.62,82.10,95.0,NaN,...,80.0,80.0,NaN,NaN,90.60,82.00,30.0,30.0,NaN,35.9
1205,NZL-2011,NZL,New Zealand,2902789,2011,42172,14.53,82.30,95.0,NaN,...,80.0,80.0,NaN,NaN,91.30,82.20,28.0,28.0,NaN,36.1
1206,NZL-2012,NZL,New Zealand,2909454,2012,43860,15.07,82.10,95.0,NaN,...,75.0,80.0,NaN,NaN,91.67,80.60,28.0,28.0,NaN,36.3
1207,NZL-2013,NZL,New Zealand,2922995,2013,45419,15.54,81.40,95.0,NaN,...,80.0,80.0,NaN,NaN,90.90,82.27,28.0,28.0,54.5,36.5
1208,NZL-2014,NZL,New Zealand,2962680,2014,48904,16.51,81.20,95.0,NaN,...,80.0,80.0,NaN,NaN,90.87,82.27,28.0,28.0,54.5,36.5
1209,NZL-2015,NZL,New Zealand,3013718,2015,52337,17.37,82.10,95.0,NaN,...,80.0,80.0,NaN,NaN,91.50,82.27,28.0,28.0,55.9,36.3
1210,NZL-2016,NZL,New Zealand,3073135,2016,58130,18.92,81.60,95.0,NaN,...,80.0,80.0,NaN,NaN,88.47,82.40,28.0,28.0,54.2,36.2
1211,NZL-2017,NZL,New Zealand,3126644,2017,57917,18.52,83.70,96.1,88.5,...,80.0,80.0,91.50,71.70,89.37,82.47,28.0,28.0,52.9,36.1
1212,NZL-2018,NZL,New Zealand,3170401,2018,56380,17.78,84.20,95.1,88.4,...,80.0,80.0,93.07,72.77,88.63,82.47,28.0,28.0,51.3,36.1
1213,NZL-2019,NZL,New Zealand,3208633,2019,53098,16.55,84.40,95.0,83.5,...,80.0,80.0,91.73,73.33,88.40,84.13,28.0,28.0,49.6,36.2
1214,NZL-2020,NZL,New Zealand,3264172,2020,58375,17.88,84.10,93.3,79.1,...,80.0,80.0,88.77,75.70,88.03,84.07,28.0,28.0,47.0,36.4

In [8]:
main[main['ISO_code_alpha3']=='NZL'].describe()

,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,Government Spending,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
count,1.500000e+01,15.000000,15.000000,15.000000,15.000000,15.000000,4.000000,15.000000,15.000000,15.000000,...,15.000000,15.000000,4.000000,4.000000,15.000000,15.000000,15.000000,15.000000,8.000000,15.000000
mean,2.982255e+06,2013.000000,53444.666667,17.962667,82.354667,93.966667,84.875000,93.946667,67.558000,48.077333,...,77.666667,80.666667,91.267500,73.375000,90.498667,81.556000,29.066667,29.066667,52.487500,35.973333
std,1.526711e+05,4.472136,8315.686843,3.053963,1.172335,2.122891,4.502129,2.069460,4.469743,7.592832,...,4.169047,2.581989,1.803189,1.691084,1.519652,1.995781,1.791514,1.791514,2.993057,0.510555
min,2.781336e+06,2006.000000,42172.000000,14.530000,80.740000,90.000000,79.100000,89.900000,60.500000,32.300000,...,70.000000,80.000000,88.770000,71.700000,88.030000,76.930000,28.000000,28.000000,47.000000,34.800000
25%,2.876685e+06,2009.500000,46867.500000,16.065000,81.500000,94.150000,82.400000,93.000000,63.035000,45.500000,...,77.500000,80.000000,90.817500,72.502500,89.000000,81.065000,28.000000,28.000000,50.875000,35.800000
50%,2.922995e+06,2013.000000,53098.000000,17.370000,82.100000,95.000000,85.950000,94.000000,70.500000,49.500000,...,80.000000,80.000000,91.615000,73.050000,90.900000,82.270000,28.000000,28.000000,53.550000,36.100000
75%,3.099890e+06,2016.500000,58023.500000,18.680000,83.000000,95.000000,88.425000,95.850000,71.000000,53.050000,...,80.000000,80.000000,92.065000,73.922500,91.445000,82.435000,30.000000,30.000000,54.500000,36.300000
max,3.264172e+06,2020.000000,70351.000000,25.040000,84.400000,96.100000,88.500000,96.700000,71.600000,57.800000,...,80.000000,90.000000,93.070000,75.700000,92.770000,84.130000,33.000000,33.000000,55.900000,36.500000

In [14]:
main[main['ISO_code_alpha3']=='NZL']['median_age'].mean()

35.973333333333336

Estonia.

In [10]:
main[main['ISO_code_alpha3']=='EST'].describe()

,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,Government Spending,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,4.000000,15.000000,15.000000,15.000000,...,15.0,15.000000,4.000000,4.000000,15.000000,15.000000,15.000000,15.000000,8.000000,15.000000
mean,874601.600000,2013.000000,14447.666667,16.653333,76.511333,84.180000,79.100000,68.186667,81.419333,55.654000,...,90.0,80.000000,79.057500,77.915000,70.968667,85.553333,20.800000,20.800000,50.787500,39.993333
std,26871.943387,4.472136,4085.639969,5.156592,1.657989,5.869558,5.016639,6.252070,1.912793,6.539133,...,0.0,5.345225,1.786381,0.832847,1.748640,1.688413,0.861892,0.861892,1.327121,0.977947
min,840278.000000,2006.000000,8183.000000,9.070000,73.200000,70.000000,73.700000,60.000000,79.100000,38.800000,...,90.0,70.000000,76.870000,76.930000,67.070000,82.000000,20.000000,20.000000,48.300000,38.500000
25%,851015.000000,2009.500000,11834.500000,12.960000,75.250000,80.200000,75.425000,64.600000,80.300000,52.900000,...,90.0,80.000000,78.040000,77.507500,70.280000,85.465000,20.000000,20.000000,50.375000,39.150000
50%,870282.000000,2013.000000,13867.000000,16.090000,76.600000,83.200000,79.400000,66.000000,80.700000,55.800000,...,90.0,80.000000,79.215000,77.900000,70.870000,85.700000,21.000000,21.000000,50.750000,40.100000
75%,899474.000000,2016.500000,17516.500000,20.585000,77.800000,90.000000,83.075000,69.450000,81.705000,59.600000,...,90.0,80.000000,80.232500,78.307500,72.285000,85.965000,21.000000,21.000000,51.550000,40.800000
max,915809.000000,2020.000000,20899.000000,24.790000,79.100000,90.000000,83.900000,85.900000,85.980000,67.330000,...,90.0,90.000000,80.930000,78.930000,73.200000,88.870000,23.000000,23.000000,52.800000,41.400000

In [11]:
main[main['ISO_code_alpha3']=='EST']

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
488,EST-2006,EST,Estonia,915809,2006,12070,13.18,74.90,70.0,NaN,...,90.0,90.0,NaN,NaN,71.97,87.47,23.0,23.0,NaN,38.5
489,EST-2007,EST,Estonia,910562,2007,11599,12.74,78.00,90.0,NaN,...,90.0,90.0,NaN,NaN,70.87,88.87,22.0,22.0,NaN,38.7
490,EST-2008,EST,Estonia,906562,2008,9661,10.66,77.90,90.0,NaN,...,90.0,80.0,NaN,NaN,72.68,85.33,21.0,21.0,NaN,38.8
491,EST-2009,EST,Estonia,902296,2009,8183,9.07,76.37,90.0,NaN,...,90.0,80.0,NaN,NaN,68.02,85.27,21.0,21.0,NaN,39.0
492,EST-2010,EST,Estonia,896652,2010,9212,10.27,74.70,80.0,NaN,...,90.0,80.0,NaN,NaN,67.07,85.83,21.0,21.0,NaN,39.3
493,EST-2011,EST,Estonia,888349,2011,13141,14.79,75.20,80.0,NaN,...,90.0,80.0,NaN,NaN,71.80,85.87,21.0,21.0,NaN,39.5
494,EST-2012,EST,Estonia,879415,2012,13524,15.38,73.20,80.0,NaN,...,90.0,80.0,NaN,NaN,70.63,85.70,21.0,21.0,NaN,39.8
495,EST-2013,EST,Estonia,870282,2013,14242,16.36,75.30,85.0,NaN,...,90.0,80.0,NaN,NaN,70.43,85.60,21.0,21.0,50.6,40.1
496,EST-2014,EST,Estonia,861690,2014,13867,16.09,75.90,90.0,NaN,...,90.0,80.0,NaN,NaN,70.13,85.93,21.0,21.0,51.5,40.4
497,EST-2015,EST,Estonia,855639,2015,15005,17.54,76.80,90.0,NaN,...,90.0,80.0,NaN,NaN,72.60,86.00,20.0,20.0,52.8,40.6
498,EST-2016,EST,Estonia,852779,2016,16572,19.43,77.20,90.0,NaN,...,90.0,80.0,NaN,NaN,72.80,86.00,20.0,20.0,51.7,40.7
499,EST-2017,EST,Estonia,849251,2017,18461,21.74,79.10,82.6,82.8,...,90.0,80.0,78.43,78.93,73.20,85.67,20.0,20.0,50.9,40.9
500,EST-2018,EST,Estonia,846284,2018,19950,23.57,78.80,80.4,83.9,...,90.0,80.0,80.00,77.70,71.83,85.63,20.0,20.0,50.5,41.0
501,EST-2019,EST,Estonia,843176,2019,20899,24.79,76.60,81.5,76.0,...,90.0,70.0,76.87,76.93,70.70,82.00,20.0,20.0,50.0,41.2
502,EST-2020,EST,Estonia,840278,2020,20329,24.19,77.70,83.2,73.7,...,90.0,70.0,80.93,78.10,69.80,82.13,20.0,20.0,48.3,41.4

In [12]:
main[main['ISO_code_alpha3']=='EST']['median_age'].mean()

39.99333333333333