In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Main/main.csv')

In [3]:
df.head()

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.3
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.4
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.7
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.0
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.2

Ordering by New business density rate.

In [4]:
df_nbd = df.groupby('Country').agg({'New business density rate': 'mean'})

In [5]:
df_nbd.sort_values(by='New business density rate', ascending=False).head(50)

                     New business density rate
Country
Isle of Man                          51.675455
Hong Kong                            25.074000
Cyprus                               20.797333
New Zealand                          17.962667
Estonia                              16.653333
Luxembourg                           14.114000
Dominica                             13.400833
Malta                                13.248000
United Kingdom                       12.865333
Australia                            12.667333
Cook Islands                         12.579091
Botswana                             12.375333
Iceland                              10.920000
Chile                                 9.327500
Latvia                                8.573333
South Africa                          8.501538
Mauritius                             8.406000
Panama                                8.200000
Singapore                             7.912667
Montenegro                            7.570667
Norway                                7.415333
Denmark                               7.065385
Cabo Verde                            6.977692
China                                 6.651818
Sweden                                6.414000
Georgia                               6.354000
Mongolia                              5.804000
Ireland                               5.773333
Romania                               5.680667
Barbados                              5.080000
Portugal                              4.976667
Slovakia                              4.676667
Hungary                               4.512000
Costa Rica                            4.491250
North Macedonia                       4.453333
Switzerland                           4.320000
France                                4.185333
Trinidad and Tobago                   4.155333
Croatia                               4.098667
Finland                               3.931333
Qatar                                 3.930769
Antigua and Barbuda                   3.921333
Timor-Leste                           3.840000
Puerto Rico                           3.673333
Slovenia                              3.628000
Peru                                  3.535333
Belize                                3.529286
Russian Federation                    3.468667
Czechia                               3.404667
Lithuania                             3.384000

Ordering by Economic Freedom index overall score.

In [6]:
df_os = df.groupby('Country').agg({'Economic freedom index': 'mean'})

In [7]:
df_os.sort_values(by='Economic freedom index', ascending=False).head(50)

                                  Economic freedom index
Country
Hong Kong                                      89.622000
Singapore                                      88.072667
New Zealand                                    82.354667
Australia                                      81.718000
Switzerland                                    80.652143
Ireland                                        79.380000
Canada                                         78.100000
Chile                                          77.225000
United Kingdom                                 77.220667
Denmark                                        76.882308
Estonia                                        76.511333
Netherlands                                    76.080000
Luxembourg                                     74.909000
Mauritius                                      74.355333
Iceland                                        74.114667
Finland                                        73.876000
Bahrain                                        73.348462
Taiwan, Province of China                      73.058000
Lithuania                                      72.950000
Sweden                                         72.630667
Japan                                          72.404286
Germany                                        72.399333
Georgia                                        71.907333
Austria                                        71.706667
Czechia                                        71.080000
Norway                                         70.782667
United Arab Emirates                           70.154000
Cyprus                                         69.916000
Colombia                                       69.737500
Botswana                                       69.736000
Belgium                                        69.679333
Saint Lucia                                    69.350833
Armenia                                        69.090000
Uruguay                                        68.894000
Latvia                                         68.861333
Israel                                         68.817333
Qatar                                          68.756923
Malaysia                                       68.428000
Spain                                          67.870667
Slovakia                                       67.777333
Brunei Darussalam                              67.271429
Malta                                          67.124000
Jordan                                         66.926000
Jamaica                                        66.897333
Saint Vincent and the Grenadines               66.712500
Peru                                           66.698667
El Salvador                                    66.570000
North Macedonia                                66.422667
Hungary                                        66.337333
Costa Rica                                     66.275000

Government integrity.

In [9]:
df[df['Government Integrity']==df['Government Integrity'].max()]

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
523,FIN-2006,FIN,Finland,3507533,2006,10247,2.92,72.9,90.0,NaN,...,70.0,70.0,NaN,NaN,77.87,74.13,26.0,26.0,NaN,40.2
703,ISL-2007,ISL,Iceland,207445,2007,3648,17.59,76.0,90.0,NaN,...,60.0,70.0,NaN,NaN,81.33,71.33,18.0,18.0,NaN,33.6