In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Datasets/Birth of enterprises/prepared_ worldbank_new_firms_historical_data_1.csv')

In [3]:
df

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19
...,...,...,...,...,...,...,...
1946,ZWE-2016,ZWE,Zimbabwe,7642765,2016,8124,1.06
1947,ZWE-2017,ZWE,Zimbabwe,7759792,2017,9518,1.23
1948,ZWE-2018,ZWE,Zimbabwe,7892169,2018,16810,2.13
1949,ZWE-2019,ZWE,Zimbabwe,8034692,2019,25028,3.11
1950,ZWE-2020,ZWE,Zimbabwe,8185716,2020,20273,2.48

In [4]:
df_efi = pd.read_csv('../Datasets/Economic freedom index/prepared_economic_freedom_scores_1995_2023.csv')

In [5]:
df_efi

,id,Country,ISO_code_alpha3,ISO_code_alpha2,Index Year,Overall Score,Property Rights,Judicial Effectiveness,Government Integrity,Tax Burden,...,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets
0,ALB-2023,Albania,ALB,AL,2023,65.3,55.9,49.2,35.5,89.1,...,70.7,49.7,81.3,82.8,70.0,70.0,46.87,72.77,67.23,74.27
1,DZA-2023,Algeria,DZA,DZ,2023,43.2,27.8,29.5,28.4,71.9,...,53.6,51.4,75.1,57.5,30.0,30.0,28.57,44.90,60.03,39.17
2,AGO-2023,Angola,AGO,AO,2023,53.0,41.1,24.8,22.9,86.5,...,41.6,53.9,58.9,64.8,30.0,40.0,29.60,86.17,51.47,44.93
3,ARG-2023,Argentina,ARG,AR,2023,51.0,34.6,56.8,42.8,66.9,...,55.5,55.1,36.5,61.2,55.0,60.0,44.73,51.47,49.03,58.73
4,ARM-2023,Armenia,ARM,AM,2023,65.1,50.3,31.5,51.6,87.5,...,64.9,58.7,70.5,73.6,75.0,70.0,44.47,78.40,64.70,72.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4754,VEN-1995,Venezuela,VEN,VE,1995,59.8,50.0,NaN,10.0,80.0,...,85.0,NaN,52.0,65.0,50.0,70.0,NaN,NaN,NaN,61.67
4755,VNM-1995,Vietnam,VNM,VN,1995,41.7,10.0,NaN,10.0,68.8,...,40.0,NaN,55.2,44.6,30.0,30.0,NaN,NaN,NaN,34.87
4756,YEM-1995,Yemen,YEM,YE,1995,49.8,30.0,NaN,10.0,78.2,...,70.0,NaN,41.8,45.0,70.0,30.0,NaN,NaN,NaN,48.33
4757,ZMB-1995,Zambia,ZMB,ZM,1995,55.1,50.0,NaN,30.0,72.4,...,55.0,NaN,12.2,61.2,70.0,70.0,NaN,NaN,NaN,67.07
4758,ZWE-1995,Zimbabwe,ZWE,ZW,1995,48.5,50.0,NaN,30.0,50.1,...,55.0,NaN,54.7,51.8,30.0,50.0,NaN,NaN,NaN,43.93

In [6]:
cols = df_efi.drop('Country', axis=1).drop('ISO_code_alpha3', axis=1).drop('ISO_code_alpha2', axis=1).drop('Index Year', axis=1)
df = df.merge(cols, how='left', left_on='id', right_on='id')

In [7]:
df

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Overall Score,Property Rights,Judicial Effectiveness,...,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,ZWE-2016,ZWE,Zimbabwe,7642765,2016,8124,1.06,38.2,10.0,NaN,...,37.6,30.0,79.1,50.2,10.0,10.0,NaN,NaN,48.90,23.40
1947,ZWE-2017,ZWE,Zimbabwe,7759792,2017,9518,1.23,44.0,27.3,26.1,...,36.2,33.1,76.5,52.8,25.0,10.0,22.70,75.63,48.60,29.27
1948,ZWE-2018,ZWE,Zimbabwe,7892169,2018,16810,2.13,44.0,27.6,33.0,...,37.1,38.8,76.9,69.1,25.0,10.0,26.50,64.07,50.93,34.70
1949,ZWE-2019,ZWE,Zimbabwe,8034692,2019,25028,3.11,40.4,29.7,24.8,...,33.4,43.3,72.4,70.0,25.0,10.0,23.43,53.50,49.70,35.00
1950,ZWE-2020,ZWE,Zimbabwe,8185716,2020,20273,2.48,43.1,33.7,28.3,...,39.1,43.1,62.8,70.0,25.0,10.0,26.97,62.17,48.33,35.00

In [8]:
df.isna().sum()

id                                              0
ISO_code_alpha3                                 0
Country                                         0
Adult population                                0
Year                                            0
Number of new Limited Liability Companies       0
New business density rate                       0
Overall Score                                 150
Property Rights                               150
Judicial Effectiveness                       1437
Government Integrity                          150
Tax Burden                                    150
Government Spending                           150
Fiscal Health                                1437
Business Freedom                              150
Labor Freedom                                 150
Monetary Freedom                              150
Trade Freedom                                 150
Investment Freedom                            150
Financial Freedom                             150
Rule of Law                                  1437
Government Size                              1437
Regulatory Efficiency                         150
Open Markets                                  150
dtype: int64

In [10]:
len(df)

1951

In [11]:
df_tf_ct = pd.read_csv('../Datasets/Coporate tax/TaxFoundation/prepared_taxfoundation_1980_2022_corporate_tax_rates_1.csv')

In [12]:
df_tf_ct.head()

,id,iso_2,iso_3,continent,country,Year,Corporate tax (Tax Foundation)
0,ABW-1980,AW,ABW,NO,Aruba,1980,NaN
1,AFG-1980,AF,AFG,AS,Afghanistan,1980,NaN
2,AGO-1980,AO,AGO,AF,Angola,1980,NaN
3,AIA-1980,AI,AIA,NO,Anguilla,1980,NaN
4,ALA-1980,AX,ALA,EU,Aland Islands,1980,NaN

In [13]:
cols = df_tf_ct.drop('iso_2', axis=1).drop('iso_3', axis=1).drop('continent', axis=1).drop('country', axis=1).drop('Year', axis=1)
df = df.merge(cols, how='left', left_on='id', right_on='id')

In [14]:
df.head()

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Overall Score,Property Rights,Judicial Effectiveness,...,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation)
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0

In [16]:
df.isna().sum()

id                                              0
ISO_code_alpha3                                 0
Country                                         0
Adult population                                0
Year                                            0
Number of new Limited Liability Companies       0
New business density rate                       0
Overall Score                                 150
Property Rights                               150
Judicial Effectiveness                       1437
Government Integrity                          150
Tax Burden                                    150
Government Spending                           150
Fiscal Health                                1437
Business Freedom                              150
Labor Freedom                                 150
Monetary Freedom                              150
Trade Freedom                                 150
Investment Freedom                            150
Financial Freedom                             150
Rule of Law                                  1437
Government Size                              1437
Regulatory Efficiency                         150
Open Markets                                  150
Corporate tax (Tax Foundation)                110
dtype: int64

In [18]:
df_oecd_ct = pd.read_csv('../Datasets/Coporate tax/OECD/prepared_oecd_central_government_corporate_tax_2001_2022.csv')

In [19]:
df_oecd_ct.head()

         id ISO_code_alpha3          Country  Year  Corporate tax (OECD)
0  SVK-2001             SVK  Slovak Republic  2001                  29.0
1  SVK-2002             SVK  Slovak Republic  2002                  25.0
2  SVK-2003             SVK  Slovak Republic  2003                  25.0
3  SVK-2004             SVK  Slovak Republic  2004                  19.0
4  SVK-2005             SVK  Slovak Republic  2005                  19.0

In [20]:
cols = df_oecd_ct.drop('ISO_code_alpha3', axis=1).drop('Country', axis=1).drop('Year', axis=1)
df = df.merge(cols, how='left', left_on='id', right_on='id')

In [21]:
df.head()

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Overall Score,Property Rights,Judicial Effectiveness,...,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD)
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN

In [22]:
df.isna().sum()

id                                              0
ISO_code_alpha3                                 0
Country                                         0
Adult population                                0
Year                                            0
Number of new Limited Liability Companies       0
New business density rate                       0
Overall Score                                 150
Property Rights                               150
Judicial Effectiveness                       1437
Government Integrity                          150
Tax Burden                                    150
Government Spending                           150
Fiscal Health                                1437
Business Freedom                              150
Labor Freedom                                 150
Monetary Freedom                              150
Trade Freedom                                 150
Investment Freedom                            150
Financial Freedom                             150
Rule of Law                                  1437
Government Size                              1437
Regulatory Efficiency                         150
Open Markets                                  150
Corporate tax (Tax Foundation)                110
Corporate tax (OECD)                          713
dtype: int64

In [24]:
df_inn = pd.read_csv('../Datasets/Global innovation index/prepared_gii_2013_2020.csv')
df_ma = pd.read_csv('../Datasets/Population median age/prepared_owid_median_age_estimates.csv')

In [25]:
df_inn.head()

         id ISO_code_alpha3      Country  Year  Global Innovation Index
0  ABW-2013             ABW        Aruba  2013                      NaN
1  AFG-2013             AFG  Afghanistan  2013                      NaN
2  AGO-2013             AGO       Angola  2013                     23.5
3  ALB-2013             ALB      Albania  2013                     30.9
4  AND-2013             AND      Andorra  2013                      NaN

In [26]:
cols = df_inn.drop('ISO_code_alpha3', axis=1).drop('Country', axis=1).drop('Year', axis=1)
df = df.merge(cols, how='left', left_on='id', right_on='id')

In [27]:
df_ma.head()

         id ISO_code_alpha3      Country  Year  median_age
0  AFG-1950             AFG  Afghanistan  1950        18.4
1  AFG-1951             AFG  Afghanistan  1951        18.4
2  AFG-1952             AFG  Afghanistan  1952        18.4
3  AFG-1953             AFG  Afghanistan  1953        18.3
4  AFG-1954             AFG  Afghanistan  1954        18.3

In [28]:
cols = df_ma.drop('ISO_code_alpha3', axis=1).drop('Country', axis=1).drop('Year', axis=1)
df = df.merge(cols, how='left', left_on='id', right_on='id')

In [29]:
df.head()

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Overall Score,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.3
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.4
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.7
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.0
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.2

In [30]:
df = df.rename(columns={'Overall Score': 'Economic freedom index'})

In [31]:
df.head()

,id,ISO_code_alpha3,Country,Adult population,Year,Number of new Limited Liability Companies,New business density rate,Economic freedom index,Property Rights,Judicial Effectiveness,...,Investment Freedom,Financial Freedom,Rule of Law,Government Size,Regulatory Efficiency,Open Markets,Corporate tax (Tax Foundation),Corporate tax (OECD),Global Innovation Index,median_age
0,AFG-2009,AFG,Afghanistan,14039528,2009,3653,0.26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.3
1,AFG-2010,AFG,Afghanistan,14444996,2010,4759,0.33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.4
2,AFG-2011,AFG,Afghanistan,15041824,2011,3745,0.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,14.7
3,AFG-2012,AFG,Afghanistan,15743958,2012,3557,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.0
4,AFG-2013,AFG,Afghanistan,16519812,2013,3191,0.19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,15.2

In [32]:
df.isna().sum()

id                                              0
ISO_code_alpha3                                 0
Country                                         0
Adult population                                0
Year                                            0
Number of new Limited Liability Companies       0
New business density rate                       0
Economic freedom index                        150
Property Rights                               150
Judicial Effectiveness                       1437
Government Integrity                          150
Tax Burden                                    150
Government Spending                           150
Fiscal Health                                1437
Business Freedom                              150
Labor Freedom                                 150
Monetary Freedom                              150
Trade Freedom                                 150
Investment Freedom                            150
Financial Freedom                             150
Rule of Law                                  1437
Government Size                              1437
Regulatory Efficiency                         150
Open Markets                                  150
Corporate tax (Tax Foundation)                110
Corporate tax (OECD)                          713
Global Innovation Index                      1070
median_age                                      0
dtype: int64

In [34]:
df.to_csv('main.csv', index=False)